@import "button" ;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
     display: flex;
    align-items: center;
    justify-content: center;


    section {
    height: 50%;
    width: 50%;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


}


}







 // same ko clean visuals ke liye new file m likkha hain 


// @mixin button-style($background-color){
//     background-color: $background-color;
//     padding: 5px;
//     margin: 5px;
//     border-radius: 10px;
// }

.blue{
    @include button-style(red);
}

.red{
     @include button-style(red);
}





main{
    height: 100%;
    width: 100%;
 display: flex;
    section {
           height: 100%;
           flex-grow: 1;
           background-color: aqua;
    }

 section:hover{
    flex-grow: 4;
    cursor: pointer;
}

    section:nth-child(1){
        background-color:lawngreen;
    }
      section:nth-child(2){
        background-color:palegreen;
    }

      section:nth-child(3){
        background-color:red;
    }

      section:nth-child(4){
        background-color:orange;
    }

      section:nth-child(5){
        background-color:paleturquoise;
    }


}