*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body {
    height: 100%;
    width: 100%;
}
header{
    height: 70px;
    width: 100%;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
   
}
 .navigation-bar{
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding-top: 15px;
}

#logo h1 {
  font-size: 27px;
  font-weight: 600;
  color: #000;
}

#links {
  display: flex;
  align-items: center;
  gap: 40px;
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
  font-size: 14px;        
   font-weight: 400; 
}

#links a{
    
   text-decoration: none; 
   color:#000;
}


#buttons {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
}

#buttons #primary {
  border-radius: 30px;
  border: 1px solid rgb(71, 71, 203);
  color: rgb(71, 71, 203);
  padding: 10px 22px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#buttons #primary:hover {
  background-color: rgba(71, 71, 203, 0.1);
}

#buttons #secondary {
   background-color: transparent;
  color: #007bff;
  border: 2px solid #007bff;
  padding: 10px 22px;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

#buttons #secondary:hover {
    background-color: #007bff;
  color: white;
}



main{
  background-color: #F9FAFB;
    height: 1300px;
    border-radius: 10px;
      padding: 60px 100px;
   display: grid;
   grid-template-columns:  1fr;
   grid-template-rows: 250px 1fr;
   grid-template-areas: "top  "
                        " bottom ";
border-radius: 10px;
overflow: hidden;
grid-gap: 20px;
}


#top {
  grid-area: top;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 40px;
  border-radius: 20px;
}


#top-left h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #111;
  margin-bottom: 80px;
}

#top-right {
  max-width: 800px;
}
#top-right p {
  color: #555;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}
#bottom{
    grid-area: bottom;
}

.buttons{
      display: flex;
  gap: 15px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #005fd1;
}

.btn-outline {
  background-color: transparent;
  color: #007bff;
  border: 2px solid #007bff;
  padding: 10px 22px;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn-outline:hover {
  background-color: #007bff;
  color: white;
}

#bottom{
    border-radius: 20px;
    background-image: url(https://plus.unsplash.com/premium_photo-1760023732601-87a1b3ff9f76?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1974);
    background-size: cover;
    background-position: center;
}