*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html , body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 100px
}
/*  rotate your own  div in xyz.  */
#rotate{
    height: 200px;
    width: 200px;
    background-color: rebeccapurple;
    border-radius: 10px;
    background-image: url(https://images.unsplash.com/photo-1759520054142-c723a30f7716?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzfHx8ZW58MHx8fHx8);
    background-size: cover;
    background-position: bottom;
    /* transform: rotate(45deg); */
    /* transform: rotateX(10deg); */
     /* transform: rotateY(10deg); */
      transform: rotateZ(100deg);
}

#main{
    height: 100%;
    width: 100%;
      padding: 20px 30px;
      display: flex;
      gap: 20px;

      flex-wrap: wrap;
      
}

.card{
    height: 
    300px;
    width: 350px;
    background-color: rebeccapurple;
  border-radius: 20px;
    position: relative;
  overflow: hidden;
}
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bottom{
    height: 40%;
    width: 100%;
    position: absolute;
    background: linear-gradient(transparent , black) ;
    bottom: -40%;
    transition: all ease .5s;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bottom h4{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 40px;
     font-weight: 400;
}
.bottom h3{
  background-color: white;
  padding: 5px 7px;
   border-radius: 50%;
}

.card:hover .bottom {
    bottom: 0%;
}
