*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html ,body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: black;
    
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

#box{
    background-color: crimson;
      border: 2px solid rebeccapurple;

}
#box img{
    position: absolute;
    height: 25%;
    width: 25%;
    object-fit: cover;
}
#box:nth-child(2n-1){
    background-color: palegoldenrod;
    
      border: 2px solid rebeccapurple;

}
#box:nth-child(4n){
    background-color: red;
    
      border: 2px solid rebeccapurple;

}
#box:nth-child(3n){
    background-color: orangered;
    
      border: 2px solid rebeccapurple;

}