*{
    margin: 0;
    padding: 0;
}

.heading{
      background-color: #1b1f2a;
            text-align: center;
            height: 200px;

               h1 {padding-top: 40px;
            color: #fff;
            font-family: 'Poppins', sans-serif;
            font-size: 48px;
            font-weight: 800;
            margin-bottom: 10px;
        }
        p {
            font-size: 20px;
            font-style: italic;
            color: #ccc;
        }
}
      
.main{
    #about{max-width: 1400px;
      margin: 50px auto;
        border-radius: 10px;
        height: 150px;
        background-color:grey;
        h3{
            text-align: center;
            padding-top: 45px;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 32px;
             font-family: 'Poppins', sans-serif;
        }
        p{
            text-align: center;
        }
    }


 #education {
  max-width: 1400px;
  margin: 50px auto;
  border-radius: 10px;
  height: 250px;
  background-color: rgb(44, 216, 216);

  h3 {
  text-align: center;
  padding-top: 15px;
  font-weight: 600;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
}
#esec1 {
  max-width: 700px;
  padding-top: 15px;
  height: 40px;
  margin: 15px auto 5px; 
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

#esec2 {
  max-width: 700px;
  padding-top: 15px;
  height: 40px;
  text-align: center;
  background-color: white;
  margin: 10px auto;
   border-radius: 10px;
}
}
 

 #skills {
  max-width: 1400px;
  margin: 50px auto;
  border-radius: 10px;
  height: 400px;
  background-color:bisque;

  h3 {
  text-align: center;
  padding-top: 15px;
  font-weight: 600;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
}
#ssec1 {
  max-width: 700px;
  padding-top: 15px;
  height: 40px;
  margin: 15px auto 5px; 
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

#ssec2 {
  max-width: 700px;
  padding-top: 15px;
  height: 40px;
  text-align: center;
  background-color: white;
  margin: 10px auto;
   border-radius: 10px;
}

#ssec3 {
  max-width: 700px;
  padding-top: 15px;
  height: 40px;
  text-align: center;
  background-color: white;
  margin: 10px auto;
   border-radius: 10px;
}
#ssec4 {
  max-width: 700px;
  padding-top: 15px;
  height: 40px;
  text-align: center;
  background-color: white;
  margin: 10px auto;
   border-radius: 10px;
}
 }




 #project {
  max-width: 1400px;
  margin: 50px auto;
  border-radius: 10px;
  height: 300px;
  background-color:aquamarine;

  h3 {
  text-align: center;
  padding-top: 15px;
  font-weight: 600;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
}
#p1 {
  max-width: 700px;
  padding-top: 15px;
  height: 40px;
  margin: 15px auto 5px; 
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

#p2 {
  max-width: 700px;
  padding-top: 15px;
  height: 40px;
  text-align: center;
  background-color: white;
  margin: 10px auto;
   border-radius: 10px;
}

#p3 {
  max-width: 700px;
  padding-top: 15px;
  height: 40px;
  text-align: center;
  background-color: white;
  margin: 10px auto;
   border-radius: 10px;
}
 }
 

  #contact {
  max-width: 1400px;
  margin: 50px auto;
  border-radius: 10px;
  height: 300px;
  background-color:darkslateblue;

  h3 {
  text-align: center;
  padding-top: 15px;
  font-weight: 600;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
}
#c1 {
  max-width: 700px;
  padding-top: 15px;
  height: 40px;
  margin: 15px auto 5px; 
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

#c2 {
  max-width: 700px;
  padding-top: 15px;
  height: 40px;
  text-align: center;
  background-color: white;
  margin: 10px auto;
   border-radius: 10px;
}

#c3 {
  max-width: 700px;
  padding-top: 15px;
  height: 40px;
  text-align: center;
  background-color: white;
  margin: 10px auto;
   border-radius: 10px;
}
 } 
}