 @font-face {
    font-family: app;
    src: url(./app.woff2);
 }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 html , body {
    font-family: app;
    height: 100%;
    width: 100%;
    background-color:white;
 }

 #nav {
     height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
 }
 #nav h4{
    font-weight: 400;  
  font-size: 12px;
 }
 .ri-apple-fill{
    font-size: 18px;
 }
 .ri-search-line{
     font-size: 14px;
 }
 .ri-shopping-bag-line{
     font-size: 18px;
 }

 #content{
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_large_2x.jpg);
    background-size: cover;
    background-position: center;
    height: 80%;
    color: #FFFFFF;
 }
 #content h1{
    position: absolute;
    left: 36%;
    top: 15%;
    font-size: 55px;
    font-weight: 700;
 }
  #content h3{
    position: absolute;
    left: 44%;
    top: 25%;
    font-size: 25px;
    font-weight: 700;
 }
#one  {
     position: absolute;
    left: 40%;
    top: 32%;
     font-size: 17px;
  font-weight: 400;
  line-height: 1.47;
  padding: 8px 20px;
  border-radius: 980px;
  background-color: #0071e3;
  color: #fff;
  border: none;
  cursor: pointer;
 }
 #two  {
     position: absolute;
    left: 50%;
    top: 32%;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.47;
  padding: 8px 20px;
  border-radius: 980px;
  background: transparent;
  border: 1px solid #0071e3;
  color: #0071e3;
  cursor: pointer;
 }


 #next-content{
  margin-top: 10px;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_large_2x.jpg);
    background-size: cover;
    background-position: center;
    height: 80%;
    color:black;
 }
 #next-content h1{
    position: relative;
    left: 40%;
    top: 15%;
    font-size: 55px;
    font-weight: 700;
 }

  #next-content h3{
    position: relative;
    left: 39%;
    top: 18%;
    font-size: 22px;
    font-weight: 500;
 }

 #three  {
     position: relative;
    left: 42%;
    top: 22%;
     font-size: 17px;
  font-weight: 400;
  line-height: 1.47;
  padding: 8px 20px;
  border-radius: 980px;
  background-color: #0071e3;
  color: #fff;
  border: none;
  cursor: pointer;
 }
 #four  {
     position: relative;
  left: 43%;
    top: 22%;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.47;
  padding: 8px 20px;
  border-radius: 980px;
  background: transparent;
  border: 1px solid #0071e3;
  color: #0071e3;
  cursor: pointer;
 }

 #layout{
    margin-top: 0px;       
  padding: 10px;          
  display: flex;
  flex-wrap: wrap;
  gap: 2px;               
  justify-content: center;
  background-color: whitesmoke; 
 }

 #grid{
  margin: 6px;           
  height: 610px;
  width: 710px;
  background-image: url(https://www.apple.com/in/iphone-17/images/overview/welcome/hero_startframe__fslo8k8lane6_xlarge_2x.jpg);
  background-size: cover;
  border-radius: 1px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

