 @font-face {
    font-family: ho;
    src: url(./HelveticaNowDisplay-Medium_2wEhlmo-TD_wsqqEEwmJC.woff2);
 }
 /* boiler plate of css */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
h2{
    color: rebeccapurple;
    background-color: yellow;
    font-size: 50px;
    font-style: oblique;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-align: left;
    text-transform: lowercase;
}

 #love{
    background-color: rgb(92, 14, 14);
} 


#para1{
    color: peru; 
} 

.para{
   background-color: red;
} */

h1{
     font-family: ho;
}
